.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
}
.offerLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offerLeft h1{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}
.offerLeft p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offerLeft button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offerRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;

}