.populer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.populer h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.populer hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.populer-item{
    margin: 50px;
    display: flex;
    gap: 30px;
}